<h1>Contato</h1>

<form type="submit">
  <div class="form-group">
    <label for="">Nome</label>
    <input id="name" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input id="email" type="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Assunto</label>
    <textarea id="subject" type="text" rows="5" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="">Fone</label>
    <input id="phone" type="text" rows="5" class="form-control"></input>
  </div>

  <div class="form-group">
    <label for="">CEP</label>
    <input id="cep" type="text" rows="5" class="form-control"></input>
  </div>

  <button id="sendFormButton" class="btn btn-primary"type="submit">Enviar</button>
</form>