<h1>Resposta do formulário</h1>

<div class="table-responsive-md">
  <table class="table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">nome</th>
        <th></th>
        <th scope="col">email</th>
        <th></th>
        <th scope="col">assunto</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td id="name"></td>
        <td></td>
        <td id="email"></td>
        <td></td>
        <td id="subject"></td>
      </tr>
    </tbody>    
  </table>
</div>

